* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.flickity-slider {
  display: flex;
  align-items: center;
}
.carousel {
  background: #ffffff;
}
.flickity-button {
  background: #f4f4f4;
  border-radius: 0;
}
.flickity-button-icon {
  fill: #0aa1d9;
}
.flickity-prev-next-button.next {
  right: -45px;
}
.flickity-prev-next-button.previous {
  left: -45px;
}

.carousel-cell {
  width: 25%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.slider-icon {
  object-fit: cover;
}

.btn-primary {
  background-color: #82b440;
  color: white;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 347px;
}
.btn-primary-outline {
  background-color: transparent;
  color: #82b440;
  border: 2px solid #82b440;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 347px;
}

.btn-primary:hover {
  background-color: #679c30;
}
.bg-hero-container {
  background-image: url("/assets/Images/hero-bg.png");
  background-position: center;
  background-size: cover;
  padding: 8% 0 20% 0;
}
.bg-img-container {
  background-image: url("/assets/Images/testimonial-bg.png");
  background-position: center;
  background-size: cover;
  padding: 20% 0;
}
.testimonial-card-cta {
  position: relative;
}
.testimonial-card-cta::before {
  content: "";
  position: absolute;
  background-color: #308dd3;
  width: 100%;
  height: 1px;
  bottom: 0;
}
.tab-button {
  background: #f2f7fe;
  width: 100%;
  max-width: 230px;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  padding: 24px;
}
.tab-active {
  color: #1f2278;
  background: #ffffff;
}
.tab-active::before {
  content: "";
  position: absolute;
  background-color: #1f2278;
  width: 100%;
  height: 4px;
  top: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tab-active .tab-icon {
  filter: brightness(0) saturate(100%) invert(21%) sepia(15%) saturate(5901%)
    hue-rotate(212deg) brightness(83%) contrast(103%);
}

@media (max-width: 991px) {
  .tab-icon {
    width: 30px;
  }
  .tab-button {
    font-size: 14px;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .btn-primary {
    width: auto;
    padding: 12px;
  }
  .flickity-button {
    width: 24px;
    height: 24px;
  }
  .slider-icon {
    width: 75%;
  }
  .tab-icon {
    width: 16px;
  }
  .tab-button {
    font-size: 6px;
    padding: 4px;
  }
  .tab-active::before {
    height: 2px;
  }
}
