:root {
  --primaryColor: #82b440;
  --royalBlueColor: #1f2278;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: var(--whiteColor);
  margin: 0 auto !important;
  max-width: 1920px;
  /* border: 1px solid #f00; */
}
.wrapper {
  max-width: 1370px;
  margin: 0 auto;
  position: relative;
}

.flickity-slider {
  display: flex;
  align-items: center;
}
.carousel {
  background: var(--whiteColor);
}
.flickity-button {
  background: #f4f4f4;
  border-radius: 0;
}
.flickity-button-icon {
  fill: #0aa1d9;
}
.flickity-prev-next-button.next {
  right: -45px;
}
.flickity-prev-next-button.previous {
  left: -45px;
}

.carousel-cell {
  width: 25%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.slider-icon {
  object-fit: cover;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 347px;
}
.btn-primary-outline {
  background-color: transparent;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 347px;
}

.btn-primary:hover {
  background-color: #679c30;
}
.bg-hero-container {
  background-image: url("/assets/Images/hero-bg.png");
  background-position: center;
  background-size: cover;
  padding: 3% 0 14% 0;
}
.bg-img-container {
  background-image: url("/assets/Images/testimonial-bg.png");
  background-position: center;
  background-size: cover;
  padding: 20% 0;
}
.case-studie-section{
  position: absolute;
  left: 0;
  right: 0;
  top: 24%;
}
.case-studie-section-img{
  height: 1235px;
  width: 100%;

}

.hero-cta {
  position: relative;
}
.hero-cta::before {
  content: "";
  position: absolute;
  background-color: var(--whiteColor);
  width: 100%;
  height: 1px;
  bottom: -4px;
}
.hero-cta-icon {
  filter: brightness(10);
}
.testimonial-card {
  max-width: 435px;
  width: 100%;
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
}
.testimonial-card-cta {
  position: relative;
}
.testimonial-card-cta::before {
  content: "";
  position: absolute;
  background-color: #308dd3;
  width: 100%;
  height: 1px;
  bottom: -4px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tab-button {
  background: #f2f7fe;
  width: 100%;
  max-width: 230px;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  padding: 24px;
}
.tab-active {
  color: var(--royalBlueColor);
  background: var(--whiteColor);
}
.tab-active::before {
  content: "";
  position: absolute;
  background-color: var(--royalBlueColor);
  width: 100%;
  height: 4px;
  top: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tab-active .tab-icon {
  filter: brightness(0) saturate(100%) invert(21%) sepia(15%) saturate(5901%)
    hue-rotate(212deg) brightness(83%) contrast(103%);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.card {
  width: 100%;
  max-width: 370px;
  height: auto;
  aspect-ratio: 4 / 3;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card-bg-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  padding: 16px;
  color: var(--whiteColor);
  width: 100%;
  border-radius: 0 0 16px 16px;
  z-index: 1;
}

.card-content-hover {
  opacity: 0;
  color: var(--whiteColor);
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.card:hover .card-content-hover {
  opacity: 1;
}

.free-trial-btn {
  border-radius: 10px;
  border: 1px solid #82b440;
  background: #82b440;
  width: 140px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.free-trial-btn:hover {
  background: #679c30;
}
.login-btn {
  border-radius: 10px;
  border: 1px solid #82b440;
  color: #82b440;
  width: 140px;
  height: 50px;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #fff;
  margin-left: 10px;
}

.login-btn:hover {
  background: #82b440;
  color: #fff;
}

.text-nav {
  font-size: 18px;
}
.img-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

.deliver-bg-img {
  height: 1386px;
  width: 100%;
}
.myweb-card {
  max-width: 433px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #ededed;
  padding: 30px 20px 20px 20px;

  background: #fff;
}
.girl-img-wrapper {
  width: 100%;
  height: 42vw;
  position: relative;
  right: -10%;

}
.girl-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}
.google-ad-img {
  height: 798px;
  overflow: visible;
  object-fit: cover;
  position: relative;
  right: -190px;
}
.testimonial-section-img{
  height: 1300px;
  width: 100%;

}
.testimonial-bg-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 17%;
}
@media (max-width: 1499px) {
.girl-img-wrapper {
  right: -3%;

}
}
@media (max-width: 1299px) {
  .girl-img-wrapper {
    position: inherit;
    height: 100%;
  
  }
  .text-nav {
    font-size: 16px;
  }
  .free-trial-btn,
  .login-btn {
    font-size: 16px;
    width: 120px;
    height: 48px;
  }
}
@media (max-width: 1199px) {
  .text-nav {
    font-size: 14px;
  }
  .free-trial-btn,
  .login-btn {
    font-size: 14px;
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 1027px) {
  .case-studie-section{
    position: relative;
  }
  .testimonial-bg-content{
    position:relative;
  }
  .bg-img-deliver-container {
    background-image: url("/assets/Images/testimonial-bg.png");
    background-position: center;
    background-size: cover;
    padding: 20% 0;
  }
  .bg-img-case-studie-container {
    background-image: url("/assets/Images/testimonial-bg.png");
    background-position: center;
    background-size: cover;
    padding: 20% 0;
  }
  .bg-img-testimonial-container {
    background-image: url("/assets/Images/testimonial-bg.png");
    background-position: center;
    background-size: cover;
    padding: 20% 0;
  }
  .case-studie-section-img{
    display: none;
  }
  .testimonial-section-img{
    display: none;
  }
  .deliver-bg-img {
    display: none;
  }
  .testimonial-card{
    border-radius: 12px;
  }
}
@media (max-width: 991px) {
  .tab-icon {
    width: 30px;
  }
  .tab-button {
    font-size: 14px;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .bg-img-testimonial-container {
    padding: 28% 0;
  }
  .bg-img-case-studie-container {
    padding: 28% 0;

  }
  .btn-primary {
    width: auto;
    padding: 12px;
  }
  .flickity-button {
    width: 24px;
    height: 24px;
  }
  .slider-icon {
    width: 75%;
  }
  .tab-icon {
    width: 16px;
  }
  .tab-button {
    font-size: 6px;
    padding: 4px;
  }
  .tab-active::before {
    height: 2px;
  }
  .bg-hero-container {
    padding: 8% 0 20% 0;
  }
}
